<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="DaoCSVImpl" class="dao.DaoCSVImpl">
        <property name="path" value="hw1\src\main\resources\question.csv"></property>
    </bean>

    <bean id="QuestionServiceImpl" class="service.QuestionServiceImpl">
        <property name="daoCSV" ref="DaoCSVImpl"></property>
    </bean>

    <bean id="UserServiceImpl" class="service.UserServiceImpl"/>
    <bean id="InputOutputServiceImpl" class="service.InputOutputServiceImpl">
        <property name="questionService" ref="QuestionServiceImpl"></property>
        <property name="userService" ref="UserServiceImpl"></property>
    </bean>
</beans>